@model OrdersViewModel


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminOrders.css" asp-append-version="true" />

<div class="align-content-center bg-white admin-container">
    <h1>@ViewData["Title"]</h1>
    <div class="text-center text-black"><h2 class="text-black">Lista på Ordrar</h2></div>
    <div class="text-left">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">

                        <div class="btn-group">

                                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a  class="dropdown-item" asp-action="OrderType" asp-controller="OrderAdmin" asp-route-id="1">Alla</a></li>
                                    <li><a  class="dropdown-item" asp-action="OrderType" asp-controller="OrderAdmin" asp-route-id="2">Levererade</a></li>
                                    <li class="dropdown-item divider"></li>
                                    <li><a  class="dropdown-item" asp-action="OrderType" asp-controller="OrderAdmin" asp-route-id="3">Inte Levererade</a></li>
                                </ul>

                        </div>
                        &nbsp Val av ordrar
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Namn</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Totalbelopp</th>
                    <th scope="col">Levererad</th>
                    <th scope="col"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {

                
                

                <tr>
                    <td>@order.BestallningDatum</td>
                    <td>@order.Kund.Namn</td>
                    <td>@order.Kund.Gatuadress</td>
                    <td>@order.Totalbelopp</td>
                    @if (order.Levererad == false)
                    {
                        <td> <a type="button" href="#" class="btn btn-danger">Inte Levererad</a></td>
                    }
                    else
                    {
                        <td> <a type="button" href="#" class="btn btn-success">Levererad</a></td>
                    }

                    <td><a type="button" class="btn btn-dark" asp-action="OrderDetailView" asp-controller="OrderAdmin" asp-route-id="@order.BestallningId">Order Detalj</a></td>

                </tr>
                }
                

            </tbody>
        </table>
    </div>

</div>