@model MenuPage


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/AddNewDish.css" rel="stylesheet" type="text/css" asp-append-version="true" />
@section Scripts
{
    <script src="@Url.Content("~/js/AddNewDish.js")"></script>
}





<div class="container">
    <form id="signup" asp-controller="DishesAdmin" asp-action="AddNewDish" method="post">

        <div class="header">

            <h3>Skapa ny maträtt</h3>

            <p>Fyll i maträttens information</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">

            @if (Model.MatrattsnamnTaken == true)
            {
                <span class="text-danger">Upptaget</span><br />
            }

            
            <span asp-validation-for="@Model.NewDish.Matratt.MatrattNamn"></span><br />
            <input type="text" asp-for="@Model.NewDish.Matratt.MatrattNamn" placeholder="Maträtt namn" autofocus maxlength="50" />
            <br />

            <label>Välj Maträtts typ</label>

            <select class="browser-default custom-select" asp-for="@Model.NewDish.Matratt.MatrattTyp">



                @foreach (var item in Model.mattratttyper)
                {
                    <option class="dropdown-item" value="@item.MatrattTyp1">@item.Beskrivning</option>
                }

            </select>

            <br />
            <br />
            <br />
            @if (Model.Ingredienslow == true)
            {
                <span class="failer-login">Välj minst 1 ingrediens</span><br />
            }
            <select class="test" asp-for="@Model.NewDish.SelectedListItem">
                @foreach (var item in Model.Ingredienses)
                {
                    <option value="@item.ProduktId">@item.ProduktNamn</option>



                }
            </select>


            <br />
            <span>Sätt pris</span><br />
            <input type="number" asp-for="@Model.NewDish.Matratt.Pris" placeholder="Pris" autofocus maxlength="100" />
            <br />



            <input id="submit" type="submit" value="Skapa" />


        </div>

    </form>

</div>

