@model TomasosPizzeriaUppgift.Models.Kund
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

<link rel="stylesheet" href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" asp-append-version="true" />

<link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" asp-append-version="true" />

<link href="~/css/registerPage.css" rel="stylesheet" type="text/css" asp-append-version="true" />

<div id="layout-margin" class="container">
    <form id="signup" asp-controller="Account" asp-action="UpdateUser" method="post">

        <div class="header">

            <h3>Kund Info</h3>

            <p>Din personliga information</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">
            <span asp-validation-for="@Model.Namn"></span>
            <input type="text" value="@Model.Namn" maxlength="100" asp-for="@Model.Namn" />

            <span asp-validation-for="@Model.Gatuadress"></span>
            <input type="text" value="@Model.Gatuadress" maxlength="50" asp-for="@Model.Gatuadress" />

            <span asp-validation-for="@Model.Postnr"></span>
            <input type="text" value="@Model.Postnr" maxlength="20" asp-for="@Model.Postnr" />

            <span asp-validation-for="@Model.Postort"></span>
            <input type="text" value="@Model.Postort" maxlength="100" asp-for="@Model.Postort" />

            <input type="text" value="@Model.Email" placeholder="Email (Optional)" maxlength="50" asp-for="@Model.Email" />

            <input type="text" value="@Model.Telefon" placeholder="Telefon (Optional)" maxlength="50" asp-for="@Model.Telefon" />
            @if (ViewBag.Message == "Användarnamn Upptaget")
            {
                <span asp-validation-for="@Model.AnvandarNamn"></span>
                <input class="used-username" type="text" value="@ViewBag.Message" maxlength="20" asp-for="@Model.AnvandarNamn" />
            }
            else
            {
                <span asp-validation-for="@Model.AnvandarNamn"></span>
                <input type="text" value="@Model.AnvandarNamn" maxlength="20" asp-for="@Model.AnvandarNamn" />
            }


            <span asp-validation-for="@Model.Losenord"></span>
            <input type="text" value="@Model.Losenord" maxlength="20" asp-for="@Model.Losenord" />

            <input id="submit" type="submit" value="Uppdatera" />

        </div>

    </form>

</div>
}
