@model UsersViewModel


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminOrders.css" asp-append-version="true" />

<div class="align-content-center bg-white admin-container">
    <h1>@ViewData["Title"]</h1>
    <div class="text-center text-black"><h2 class="text-black">Lista på Användare</h2></div>
    <div class="text-left">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">

                        <div class="btn-group">

                            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in Model.Roles)
                                {
                                    <li><a class="dropdown-item" asp-action="RoleTypeSearch" asp-controller="RoleAdmin" asp-route-roleNameToSearch="@item">@item</a></li>
                                }
                            </ul>

                        </div>
                        &nbsp Val av Roll
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Namn</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Username</th>
                    <th scope="col">Roll</th>
                    <th scope="col"></th>
                    <th scope="col"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {




                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Adress</td>
                    <td>@customer.Username</td>
                    <td>@customer.RoleName</td>

                    <td>

                        <div class="btn-group">

                            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in Model.Roles)
                                {
                                    <li><a class="dropdown-item" asp-action="ChangeRoleTypeUser" asp-controller="RoleAdmin" asp-route-ChangeRoleTo="@item" asp-route-id="@customer.UserID">@item</a></li>
                                }
                            </ul>

                        </div>
                        &nbsp Ändra roll


                    </td>
                    
                    <td><a type="button" class="btn btn-danger" asp-action="DeleteUser" asp-controller="RoleAdmin" asp-route-username="@customer.Username">Ta bort kund</a></td>

                </tr>
                }


            </tbody>
        </table>
    </div>

</div>

